@import url(/css/reset.css);
@import url(/css/fonts-code-gothic.css);
@import url(css/animation.css);
@import url(css/fontello-codes.css);
@import url(css/fontello-embedded.css);
@import url(css/fontello-ie7-codes.css);
@import url(css/fontello-ie7.css);
@import url(css/fontello.css);

$border: #ffffff;
$main-color: #f6f6f6;
$text-color: #424147;
$hover-color: #ffea00;
$footer-color: #000000;

body {
    background-color: $main-color;
    border: 15px solid $border;
    margin: 0 auto;
    font-family: 'Century Gothic', 'Code Light';
}
// HEADER
header {
    margin-bottom: 20px;
    li {
        text-align: center;
        a {
            color: $text-color;
            margin: 10px 40px;
            &:hover {
                background-color: $hover-color;
                -webkit-transition: .5s;
                transition: .5s;
            }
        }
    }
}



// SLIDER
.container-fluid {
    padding: 0;
    margin: 0;
    .slide {
        position: relative;
        width: 100%;
        padding: 0;
    }
    .header-inner-title {
        position: absolute;
        top: 210px;
        left: 140px;
        padding: 10px 80px 10px 10px;
        background-color: $text-color;
        color: $hover-color;
        h5 {
            margin: 0;
        }
    }
}



// TITLE
h3.text-uppercase {
    font-size: 35px;
    padding-top: 75px;
}
.specialize {
    font-size: 24px;
    padding-bottom: 80px;
}
// SECONDARY MENU
.nav {
    padding-bottom: 50px;
    li a {
        color: $text-color;
        font-size: 24px;
        &:hover {
            background-color: $hover-color;
            -webkit-transition: .5s;
            transition: .5s;
        }
    }
}


// GALLERY
.container-fluid-gallery li {
    list-style-type: none;
    margin-top: 15px;
    .gallery-item-cover {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 15px;
        position: absolute;
        display: block;
        background-color: $hover-color;
        -webkit-transition: .5s linear;
        transition: .5s linear;
        opacity: 0;
        &:hover {
            opacity: .7;
            .arrow a {
                padding: 15px 10px;
                color: $border;
                background-color: $text-color;
            }
        }
    }
}


// FOOTER
section.container-fluid {
    background-color: $text-color;
    .container-inner {
        max-width: 1395px;
        margin: 0 auto;
        color: $border;
        font-size: 13px;
    }
}

// Social Connecting
.social {
    list-style-type: none;
    .social-items {
        padding: 0;
        a {
            border: 1px solid $footer-color;
            padding: 4px;
            background-color: $footer-color;
            color: $border;
            margin: 2px;
            text-decoration: none;
            display: block;
        }
    }
}

// PHOTO STEAM
.photo-steam {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


// Contact info
.icon-location, .icon-whatsapp, .icon-mail {
    border: 1px solid $footer-color;
    padding: 4px;
    background-color: $footer-color;
    color: $border;
}
#mce-email {
    max-width: 230px;
    background-color: $text-color;
    border: none;
    border-bottom: 2px solid $hover-color;
    &::-webkit-input-placeholder {
        color: $border;
    }
    &:-ms-input-placeholder {
        color: $border;
    }
    &::-ms-input-placeholder {
        color: $border;
    }
    &::placeholder {
        color: $border;
    }
}
.icon-mail-1 {
    color: $border;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid $footer-color;
    background-color: $footer-color;
}
// Learn more
.btn {
    color: $border;
    background-color: $footer-color;
    border-bottom: 2px solid $hover-color;
}

// FOOTER FOOTER

footer li a.nav{
    padding: 0;
}
#my-nav-footer a {
    font-family: 'Code Light';
    font-size: 16px;
    font-weight: 400;
    margin: 0 15px;
    &:hover {
        color: $hover-color;
        -webkit-transition: .5s;
        transition: .5s;
    }
}

footer span.navbar-brand {
    font-size: 14px;
}
