@import url(/reset.css);
@import url(/fonts-code-gothic.css);
@import url(css/animation.css);
@import url(css/fontello-codes.css);
@import url(css/fontello-embedded.css);
@import url(css/fontello-ie7-codes.css);
@import url(css/fontello-ie7.css);
@import url(css/fontello.css);

$border: #ffffff;
$main-color: #f6f6f6;
$text-color: #424147;
$hover-color: #ffea00;
$footer-color: #000000;

body {
    background-color: $main-color;
    border: 15px solid $border;
    margin: 0 auto;
}
// HEADER
header {
    margin-bottom: 20px;
}
header li {
    text-align: center;
}
header li a {
    color: $text-color;
    margin: 10px 40px;
}
header li a:hover {
    background-color: $hover-color;
    transition: .5s;
}
// SLIDER
.container-fluid {
    padding: 0;
    margin: 0;
}
.slide {
    position: relative;
    width: 100%;
    padding: 0;
}
.header-inner-title {
    position: absolute;
    top: 210px;
    left: 140px;
    padding: 10px 80px 10px 10px;
    background-color: $text-color;
    color: $hover-color;
}
.header-inner-title h5 {
    margin: 0;
}
// TITLE
h3.text-uppercase {
    font-size: 35px;
    padding-top: 75px;
}
.specialize {
    font-size: 24px;
    padding-bottom: 80px;
}
// SECONDARY MENU
.nav {
    padding-bottom: 50px;
}
.nav li a {
    color: $text-color;
    font-size: 24px;
}
.nav li a:hover {
    background-color: $hover-color;
    transition: .5s;
}
// GALLERY
.container-fluid-gallery.img-fluid {
    position: relative;
}
.container-fluid-gallery a:hover::after {
    content: '';
    position: absolute;
    display: block;
    background-color: $hover-color;
    transition: .5s;
}
// FOOTER
section.container-fluid {
    background-color: $text-color;
}
.fab fa-twitter {
    width: 20px;
    height: 20px;
}
.container-inner {
    max-width: 1395px;
    margin: 0 auto;
    color: $border;
    font-size: 13px;
}
footer li a.nav{
    padding: 0;
}
#my-nav a {
    font-family: 'Code Light';
    font-size: 16px;
    font-weight: 400;
    margin: 0 15px;
}
#my-nav a:hover {
    color: $hover-color;
    transition: .5s;
}
footer span.navbar-brand {
    font-family: 'Century Gothic';
    font-size: 14px;
}
.social {
    list-style-type: none;
}
.social-items a {
    border: 1px solid $footer-color;
    padding: 5px;
    background-color: $footer-color;
    color: #fff;
}
// PHOTO STEAM
.photo-steam {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.social-items {
    padding: 0;
}
.social-items a {
    margin: 2px;
    text-decoration: none;
    display: block;
}
// @media (max-width: 1200px) {
//     .img-fluid {
//       column-count: 3; } }
// @media (max-width: 992px) {
//     .img-fluid {
//       column-count: 3; } }
// @media (max-width: 768px) {
//     .img-fluid {
//       column-count: 2; } }
// @media (max-width: 576px) {
//     .img-fluid {
//       column-count: 1; } }
// @media (max-width: 425px) {
//     .img-fluid {
//       column-count: 1; } }
  