@import url(/css/reset.css);
@import url(/css/fonts-code-gothic.css);
@import url(css/animation.css);
@import url(css/fontello-codes.css);
@import url(css/fontello-embedded.css);
@import url(css/fontello-ie7-codes.css);
@import url(css/fontello-ie7.css);
@import url(css/fontello.css);
body {
  background-color: #f6f6f6;
  border: 15px solid #ffffff;
  margin: 0 auto;
  font-family: 'Century Gothic', 'Code Light';
}

header {
  margin-bottom: 20px;
}

header li {
  text-align: center;
}

header li a {
  color: #424147;
  margin: 10px 40px;
}

header li a:hover {
  background-color: #ffea00;
  -webkit-transition: .5s;
  transition: .5s;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.container-fluid .slide {
  position: relative;
  width: 100%;
  padding: 0;
}

.container-fluid .header-inner-title {
  position: absolute;
  top: 210px;
  left: 140px;
  padding: 10px 80px 10px 10px;
  background-color: #424147;
  color: #ffea00;
}

.container-fluid .header-inner-title h5 {
  margin: 0;
}

h3.text-uppercase {
  font-size: 35px;
  padding-top: 75px;
}

.specialize {
  font-size: 24px;
  padding-bottom: 80px;
}

.nav {
  padding-bottom: 50px;
}

.nav li a {
  color: #424147;
  font-size: 24px;
}

.nav li a:hover {
  background-color: #ffea00;
  -webkit-transition: .5s;
  transition: .5s;
}

.container-fluid-gallery li {
  list-style-type: none;
  margin-top: 15px;
}

.container-fluid-gallery li .gallery-item-cover {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 15px;
  position: absolute;
  display: block;
  background-color: #ffea00;
  -webkit-transition: .5s linear;
  transition: .5s linear;
  opacity: 0;
}

.container-fluid-gallery li .gallery-item-cover:hover {
  opacity: .7;
}

.container-fluid-gallery li .gallery-item-cover:hover .arrow a {
  padding: 15px 10px;
  color: #ffffff;
  background-color: #424147;
}

section.container-fluid {
  background-color: #424147;
}

section.container-fluid .container-inner {
  max-width: 1395px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 13px;
}

.social {
  list-style-type: none;
}

.social .social-items {
  padding: 0;
}

.social .social-items a {
  border: 1px solid #000000;
  padding: 4px;
  background-color: #000000;
  color: #ffffff;
  margin: 2px;
  text-decoration: none;
  display: block;
}

.photo-steam {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.icon-location, .icon-whatsapp, .icon-mail {
  border: 1px solid #000000;
  padding: 4px;
  background-color: #000000;
  color: #ffffff;
}

#mce-email {
  max-width: 230px;
  background-color: #424147;
  border: none;
  border-bottom: 2px solid #ffea00;
}

#mce-email::-webkit-input-placeholder {
  color: #ffffff;
}

#mce-email:-ms-input-placeholder {
  color: #ffffff;
}

#mce-email::-ms-input-placeholder {
  color: #ffffff;
}

#mce-email::placeholder {
  color: #ffffff;
}

.icon-mail-1 {
  color: #ffffff;
  margin-left: 5px;
  padding: 5px;
  border: 1px solid #000000;
  background-color: #000000;
}

.btn {
  color: #ffffff;
  background-color: #000000;
  border-bottom: 2px solid #ffea00;
}

footer li a.nav {
  padding: 0;
}

#my-nav-footer a {
  font-family: 'Code Light';
  font-size: 16px;
  font-weight: 400;
  margin: 0 15px;
}

#my-nav-footer a:hover {
  color: #ffea00;
  -webkit-transition: .5s;
  transition: .5s;
}

footer span.navbar-brand {
  font-size: 14px;
}
